
<section class="breadcrumb-section set-bg" data-setbg="/90minut/frontend/assets/img/breadcrumb-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="bs-text">
                    <h2 id="article-breadcrumb-title">Article</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blog-details-section spad">
    <div class="container">
        <div class="row">
       
            <div class="col-lg-8 left-blog-pad">
                <div class="bd-text">
                    
                    <div class="bd-title">
                        <h2 id="article-title">Loading...</h2>
                        <ul id="article-meta">
                            <li><i class="fa fa-calendar"></i> <span id="article-date">Loading...</span></li>
                            <li><i class="fa fa-user"></i> <span id="article-author">Loading...</span></li>
                            <li><i class="fa fa-edit"></i> <span id="article-comments-count">0 Comments</span></li>
                        </ul>
                    </div>

                    <div class="bd-pic" id="article-image-container">
                 
                    </div>

                    <div class="bd-more-text" id="article-content">
                        <p>Loading article content...</p>
                    </div>

                    <div class="bd-tags" id="article-tags">
                 
                    </div>

                    <div class="comment-option">
                        <h4>Comments (<span id="total-comments">0</span>)</h4>
                        
                        <div id="comments-list">
                     
                        </div>
                    </div>

                    <div class="comment-form" id="comment-form-section">
                        <h4>Leave a Comment</h4>
                        <form id="add-comment-form">
                            <input type="hidden" name="article_id" id="comment-article-id"> 
                            <textarea name="content" placeholder="Your comment (minimum 10 characters)" required
                            minlength="10" maxlength="1000" rows="5"></textarea>
                            <button type="submit" class="primary-btn">Post Comment</button>
                        </form>
                    </div>

                </div>
            </div>

            <div class="col-lg-4">
                <div class="blog-sidebar">
                    
                    <div class="bs-recent section-title sidebar-title">
                        <h5>Recent Posts</h5>
                    </div>
                    
                    <div id="recent-posts-widget">

                    </div>

                    <div class="bs-popular-tag section-title sidebar-title" style="margin-top: 50px;">
                        <h5>Popular Tags</h5>
                    </div>
                    
                    <div class="tags" id="popular-tags-widget">
                        <a href="#blog">Football</a>
                        <a href="#blog">Premier League</a>
                        <a href="#blog">Champions League</a>
                        <a href="#blog">Transfer</a>
                        <a href="#blog">La Liga</a>
                        <a href="#blog">Bundesliga</a>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
