<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <!-- Hero Section Begin -->
    <section class="hero-section set-bg" data-setbg="/90minut/frontend/assets/img/hero/hero-1.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hs-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="hs-text">
                                        <h4>25 October 2025 / 20:00 GMT+1</h4>
                                        <h2>Real Madrid VS Barcelona - El Clásico</h2>
                                        <a href="#" class="primary-btn">More Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Trending News Section Begin -->
    <div class="trending-news-section">
        <div class="container">
            <div class="tn-title"><i class="fa fa-caret-right"></i> Trending News</div>
            <div class="news-slider owl-carousel">
                <div class="nt-item">Haaland Breaks Premier League Scoring Record With 40th Goal</div>
                <div class="nt-item">Mbappé Confirms Real Madrid Move in Summer Transfer Window</div>
                <div class="nt-item">Champions League Final Set: Manchester City to Face Bayern Munich</div>
            </div>
        </div>
    </div>
    <!-- Trending News Section End -->

    <!-- Match Section Begin -->
    <section class="match-section set-bg" data-setbg="/90minut/frontend/assets/img/match/match-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="ms-content">
                        <h4>Next Match</h4>
                        <div class="mc-table">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="left-team">
                                            <img src="/90minut/frontend/assets/img/match/tf-1.jpg" alt="">
                                            <h6>Liverpool</h6>
                                        </td>
                                        <td class="mt-content">
                                            <div class="mc-op">Premier League - Round 10</div>
                                            <h4>VS</h4>
                                            <div class="mc-op">22 October 2025</div>
                                        </td>
                                        <td class="right-team">
                                            <img src="/90minut/frontend/assets/img/match/tf-2.jpg" alt="">
                                            <h6>Arsenal</h6>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="mc-table">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="left-team">
                                            <img src="/90minut/frontend/assets/img/match/tf-3.jpg" alt="">
                                            <h6>Bayern Munich</h6>
                                        </td>
                                        <td class="mt-content">
                                            <div class="mc-op">Bundesliga - Matchday 8</div>
                                            <h4>VS</h4>
                                            <div class="mc-op">23 October 2025</div>
                                        </td>
                                        <td class="right-team">
                                            <img src="/90minut/frontend/assets/img/match/tf-4.jpg" alt="">
                                            <h6>Borussia Dortmund</h6>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="mc-table">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="left-team">
                                            <img src="/90minut/frontend/assets/img/match/tf-5.jpg" alt="">
                                            <h6>AC Milan</h6>
                                        </td>
                                        <td class="mt-content">
                                            <div class="mc-op">Serie A - Week 9</div>
                                            <h4>VS</h4>
                                            <div class="mc-op">24 October 2025</div>
                                        </td>
                                        <td class="right-team">
                                            <img src="/90minut/frontend/assets/img/match/tf-6.jpg" alt="">
                                            <h6>Inter Milan</h6>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ms-content">
                        <h4>Recent Results</h4>
                        <div class="mc-table">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="left-team">
                                            <img src="/90minut/frontend/assets/img/match/tf-1.jpg" alt="">
                                            <h6>Manchester City</h6>
                                        </td>
                                        <td class="mt-content">
                                            <div class="mc-op">Premier League</div>
                                            <h4>3 : 1</h4>
                                            <div class="mc-op">18 October 2025</div>
                                        </td>
                                        <td class="right-team">
                                            <img src="/90minut/frontend/assets/img/match/tf-2.jpg" alt="">
                                            <h6>Chelsea</h6>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="mc-table">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="left-team">
                                            <img src="/90minut/frontend/assets/img/match/tf-3.jpg" alt="">
                                            <h6>PSG</h6>
                                        </td>
                                        <td class="mt-content">
                                            <div class="mc-op">Ligue 1</div>
                                            <h4>2 : 2</h4>
                                            <div class="mc-op">19 October 2025</div>
                                        </td>
                                        <td class="right-team">
                                            <img src="/90minut/frontend/assets/img/match/tf-4.jpg" alt="">
                                            <h6>Monaco</h6>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="mc-table">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="left-team">
                                            <img src="/90minut/frontend/assets/img/match/tf-5.jpg" alt="">
                                            <h6>Juventus</h6>
                                        </td>
                                        <td class="mt-content">
                                            <div class="mc-op">Serie A</div>
                                            <h4>1 : 0</h4>
                                            <div class="mc-op">20 October 2025</div>
                                        </td>
                                        <td class="right-team">
                                            <img src="/90minut/frontend/assets/img/match/tf-6.jpg" alt="">
                                            <h6 class="mi-right">Roma</h6>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Match Section End -->

    <!-- Soccer Section Begin -->
    <section class="soccer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 p-0">
                    <div class="section-title">
                        <h3>Soccer <span>Feed</span></h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6 p-0">
                    <div class="soccer-item set-bg" data-setbg="/90minut/frontend/assets/img/soccer/soccer-1.jpg">
                        <div class="si-tag">Soccer</div>
                        <div class="si-text">
                            <h5><a href="#">Haaland's Hat-Trick Powers City to Victory</a></h5>
                            <ul>
                                <li><i class="fa fa-calendar"></i> Oct 19, 2025</li>
                                <li><i class="fa fa-edit"></i> 127 Comments</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 p-0">
                    <div class="soccer-item set-bg" data-setbg="/90minut/frontend/assets/img/soccer/soccer-2.jpg">
                        <div class="si-tag">Soccer</div>
                        <div class="si-text">
                            <h5><a href="#">Champions League Draw: Exciting Matchups Ahead</a></h5>
                            <ul>
                                <li><i class="fa fa-calendar"></i> Oct 18, 2025</li>
                                <li><i class="fa fa-edit"></i> 94 Comments</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 p-0">
                    <div class="soccer-item set-bg" data-setbg="/90minut/frontend/assets/img/soccer/soccer-3.jpg">
                        <div class="si-tag">Soccer</div>
                        <div class="si-text">
                            <h5><a href="#">Transfer Window: Top 10 Summer Signings</a></h5>
                            <ul>
                                <li><i class="fa fa-calendar"></i> Oct 17, 2025</li>
                                <li><i class="fa fa-edit"></i> 156 Comments</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 p-0">
                    <div class="soccer-item set-bg" data-setbg="/90minut/frontend/assets/img/soccer/soccer-4.jpg">
                        <div class="si-tag">Soccer</div>
                        <div class="si-text">
                            <h5><a href="#">Messi Returns to Barcelona: The Inside Story</a></h5>
                            <ul>
                                <li><i class="fa fa-calendar"></i> Oct 16, 2025</li>
                                <li><i class="fa fa-edit"></i> 203 Comments</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Soccer Section End -->

    <!-- Latest Section Begin -->
    <section class="latest-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="section-title latest-title">
                        <h3>Latest <span>News</span></h3>
                        <ul>
                            <li>All</li>
                            <li>World Cup</li>
                            <li>Champions</li>
                            <li>MLS</li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="news-item left-news">
                                <div class="ni-pic set-bg" data-setbg="/90minut/frontend/assets/img/news/latest-b.jpg">
                                    <div class="ni-tag">Soccer</div>
                                </div>
                                <div class="ni-text">
                                    <h4><a href="#">Manchester City Dominates Premier League with Record-Breaking Performance</a></h4>
                                    <ul>
                                        <li><i class="fa fa-calendar"></i> Oct 19, 2025</li>
                                        <li><i class="fa fa-edit"></i> 87 Comments</li>
                                    </ul>
                                    <p>Manchester City continues their dominant form this season, securing their eighth consecutive victory in the Premier League. Pep Guardiola's side has shown exceptional tactical prowess and attacking brilliance throughout the campaign.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="news-item">
                                <div class="ni-pic">
                                    <img src="/90minut/frontend/assets/img/news/ln-1.jpg" alt="">
                                </div>
                                <div class="ni-text">
                                    <h5><a href="#">Bellingham Shines in Real Madrid's European Campaign</a></h5>
                                    <ul>
                                        <li><i class="fa fa-calendar"></i> Oct 19, 2025</li>
                                        <li><i class="fa fa-edit"></i> 64 Comments</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="news-item">
                                <div class="ni-pic">
                                    <img src="/90minut/frontend/assets/img/news/ln-2.jpg" alt="">
                                </div>
                                <div class="ni-text">
                                    <h5><a href="#">Arsenal's Title Challenge Gains Momentum</a></h5>
                                    <ul>
                                        <li><i class="fa fa-calendar"></i> Oct 18, 2025</li>
                                        <li><i class="fa fa-edit"></i> 52 Comments</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="news-item">
                                <div class="ni-pic">
                                    <img src="/90minut/frontend/assets/img/news/ln-3.jpg" alt="">
                                </div>
                                <div class="ni-text">
                                    <h5><a href="#">Bayern Munich Secures Bundesliga Top Spot</a></h5>
                                    <ul>
                                        <li><i class="fa fa-calendar"></i> Oct 18, 2025</li>
                                        <li><i class="fa fa-edit"></i> 41 Comments</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="news-item">
                                <div class="ni-pic">
                                    <img src="/90minut/frontend/assets/img/news/ln-4.jpg" alt="">
                                </div>
                                <div class="ni-text">
                                    <h5><a href="#">PSG's Midfield Masterclass in Ligue 1</a></h5>
                                    <ul>
                                        <li><i class="fa fa-calendar"></i> Oct 17, 2025</li>
                                        <li><i class="fa fa-edit"></i> 38 Comments</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="section-title">
                        <h3>Club <span>Ranking</span></h3>
                    </div>
                    <div class="points-table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="th-o">Pos</th>
                                    <th>Team</th>
                                    <th class="th-o">P</th>
                                    <th class="th-o">W</th>
                                    <th class="th-o">L</th>
                                    <th class="th-o">PTS</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td class="team-name">
                                        <img src="/90minut/frontend/assets/img/flag/flag-1.jpg" alt="">
                                        <span>Man City</span>
                                    </td>
                                    <td>9</td>
                                    <td>7</td>
                                    <td>0</td>
                                    <td>24</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td class="team-name">
                                        <img src="/90minut/frontend/assets/img/flag/flag-2.jpg" alt="">
                                        <span>Liverpool</span>
                                    </td>
                                    <td>9</td>
                                    <td>6</td>
                                    <td>1</td>
                                    <td>21</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td class="team-name">
                                        <img src="/90minut/frontend/assets/img/flag/flag-3.jpg" alt="">
                                        <span>Arsenal</span>
                                    </td>
                                    <td>9</td>
                                    <td>6</td>
                                    <td>2</td>
                                    <td>20</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td class="team-name">
                                        <img src="/90minut/frontend/assets/img/flag/flag-4.jpg" alt="">
                                        <span>Tottenham</span>
                                    </td>
                                    <td>9</td>
                                    <td>5</td>
                                    <td>2</td>
                                    <td>17</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td class="team-name">
                                        <img src="/90minut/frontend/assets/img/flag/flag-5.jpg" alt="">
                                        <span>Newcastle</span>
                                    </td>
                                    <td>9</td>
                                    <td>5</td>
                                    <td>3</td>
                                    <td>16</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td class="team-name">
                                        <img src="/90minut/frontend/assets/img/flag/flag-6.jpg" alt="">
                                        <span>Chelsea</span>
                                    </td>
                                    <td>9</td>
                                    <td>4</td>
                                    <td>3</td>
                                    <td>15</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td class="team-name">
                                        <img src="/90minut/frontend/assets/img/flag/flag-7.jpg" alt="">
                                        <span>Man United</span>
                                    </td>
                                    <td>9</td>
                                    <td>4</td>
                                    <td>4</td>
                                    <td>13</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td class="team-name">
                                        <img src="/90minut/frontend/assets/img/flag/flag-8.jpg" alt="">
                                        <span>Brighton</span>
                                    </td>
                                    <td>9</td>
                                    <td>3</td>
                                    <td>4</td>
                                    <td>12</td>
                                </tr>
                            </tbody>
                        </table>
                        <a href="#" class="p-all">View All</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Section End -->

    <!-- Video Section Begin -->
    <section class="video-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h3>Hot <span>Videos</span></h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="video-slider owl-carousel">
                    <div class="col-lg-3">
                        <div class="video-item set-bg" data-setbg="/90minut/frontend/assets/img/videos/video-1.jpg">
                            <div class="vi-title">
                                <h5>Haaland's Top 10 Goals of the Season</h5>
                            </div>
                            <a href="https://www.youtube.com/watch?v=dhYOPzcsbGM" class="play-btn video-popup"><img
                                    src="/90minut/frontend/assets/img/videos/play.png" alt=""></a>
                            <div class="vi-time">11:13</div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="video-item set-bg" data-setbg="/90minut/frontend/assets/img/videos/video-2.jpg">
                            <div class="vi-title">
                                <h5>Champions League Best Moments</h5>
                            </div>
                            <a href="https://www.youtube.com/watch?v=dhYOPzcsbGM" class="play-btn video-popup"><img
                                    src="/90minut/frontend/assets/img/videos/play.png" alt=""></a>
                            <div class="vi-time">08:45</div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="video-item set-bg" data-setbg="/90minut/frontend/assets/img/videos/video-3.jpg">
                            <div class="vi-title">
                                <h5>Premier League Skills & Tricks</h5>
                            </div>
                            <a href="https://www.youtube.com/watch?v=dhYOPzcsbGM" class="play-btn video-popup"><img
                                    src="/90minut/frontend/assets/img/videos/play.png" alt=""></a>
                            <div class="vi-time">09:27</div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="video-item set-bg" data-setbg="/90minut/frontend/assets/img/videos/video-4.jpg">
                            <div class="vi-title">
                                <h5>Messi's Return: Full Highlights</h5>
                            </div>
                            <a href="https://www.youtube.com/watch?v=dhYOPzcsbGM" class="play-btn video-popup"><img
                                    src="/90minut/frontend/assets/img/videos/play.png" alt=""></a>
                            <div class="vi-time">12:34</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Video Section End -->

    <!-- Popular News Section Begin -->
    <section class="popular-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="section-title">
                        <h3>Popular <span>Post</span></h3>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="news-item popular-item set-bg" data-setbg="/90minut/frontend/assets/img/news/popular-b.jpg">
                                <div class="ni-tag tenis">Transfer</div>
                                <div class="ni-text">
                                    <h5><a href="#">Mbappé's Real Madrid Move Finally Confirmed: White Smoke from Bernabéu</a></h5>
                                    <ul>
                                        <li><i class="fa fa-calendar"></i> Oct 19, 2025</li>
                                        <li><i class="fa fa-edit"></i> 342 Comments</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="news-item">
                                <div class="ni-pic">
                                    <img src="/90minut/frontend/assets/img/news/ln-1.jpg" alt="">
                                </div>
                                <div class="ni-text">
                                    <h5><a href="#">Guardiola's Tactical Masterclass Against Liverpool</a></h5>
                                    <ul>
                                        <li><i class="fa fa-calendar"></i> Oct 18, 2025</li>
                                        <li><i class="fa fa-edit"></i> 156 Comments</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="news-item">
                                <div class="ni-pic">
                                    <img src="/90minut/frontend/assets/img/news/ln-2.jpg" alt="">
                                </div>
                                <div class="ni-text">
                                    <h5><a href="#">Salah Breaks Premier League Assist Record</a></h5>
                                    <ul>
                                        <li><i class="fa fa-calendar"></i> Oct 18, 2025</li>
                                        <li><i class="fa fa-edit"></i> 128 Comments</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="news-item">
                                <div class="ni-pic">
                                    <img src="/90minut/frontend/assets/img/news/ln-3.jpg" alt="">
                                </div>
                                <div class="ni-text">
                                    <h5><a href="#">Kane's Bayern Debut: Three Goals in First Match</a></h5>
                                    <ul>
                                        <li><i class="fa fa-calendar"></i> Oct 17, 2025</li>
                                        <li><i class="fa fa-edit"></i> 194 Comments</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="news-item popular-item set-bg" data-setbg="/90minut/frontend/assets/img/news/popular-b.jpg">
                                <div class="ni-tag football">Football</div>
                                <div class="ni-text">
                                    <h5><a href="#">Champions League Quarter-Finals: Historic Matchups Announced</a></h5>
                                    <ul>
                                        <li><i class="fa fa-calendar"></i> Oct 19, 2025</li>
                                        <li><i class="fa fa-edit"></i> 287 Comments</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="news-item">
                                <div class="ni-pic">
                                    <img src="/90minut/frontend/assets/img/news/ln-5.jpg" alt="">
                                </div>
                                <div class="ni-text">
                                    <h5><a href="#">Ronaldo's Al-Nassr Wins Saudi League Title</a></h5>
                                    <ul>
                                        <li><i class="fa fa-calendar"></i> Oct 17, 2025</li>
                                        <li><i class="fa fa-edit"></i> 231 Comments</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="news-item">
                                <div class="ni-pic">
                                    <img src="/90minut/frontend/assets/img/news/ln-6.jpg" alt="">
                                </div>
                                <div class="ni-text">
                                    <h5><a href="#">Arsenal's Young Stars Shine in Europa League</a></h5>
                                    <ul>
                                        <li><i class="fa fa-calendar"></i> Oct 17, 2025</li>
                                        <li><i class="fa fa-edit"></i> 167 Comments</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="news-item">
                                <div class="ni-pic">
                                    <img src="/90minut/frontend/assets/img/news/ln-7.jpg" alt="">
                                </div>
                                <div class="ni-text">
                                    <h5><a href="#">Juventus Signs Top Brazilian Prospect</a></h5>
                                    <ul>
                                        <li><i class="fa fa-calendar"></i> Oct 16, 2025</li>
                                        <li><i class="fa fa-edit"></i> 142 Comments</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="section-title">
                        <h3>Follow <span>Us</span></h3>
                    </div>
                    <div class="follow-links">
                        <ul>
                            <li class="facebook">
                                <i class="fa fa-facebook"></i>
                                <div class="fl-name">Facebook</div>
                                <span class="fl-fan">2.530 Fans</span>
                            </li>
                            <li class="twitter">
                                <i class="fa fa-twitter"></i>
                                <div class="fl-name">Twitter</div>
                                <span class="fl-fan">2.046 Fans</span>
                            </li>
                            <li class="google">
                                <i class="fa fa-google"></i>
                                <div class="fl-name">Google</div>
                                <span class="fl-fan">1.170 Fans</span>
                            </li>
                        </ul>
                    </div>
                    <div class="vote-option set-bg" data-setbg="/90minut/frontend/assets/img/news/vote-bg.jpg">
                        <div class="vo-text">
                            <h5>Which team will win the Champions League this season?</h5>
                            <div class="vt-item">
                                <input type="radio" name="like-team" id="one">
                                <label for="one">Manchester City</label>
                            </div>
                            <div class="vt-item">
                                <input type="radio" name="like-team" id="two">
                                <label for="two">Real Madrid</label>
                            </div>
                            <div class="vt-item">
                                <input type="radio" name="like-team" id="three">
                                <label for="three">Bayern Munich</label>
                            </div>
                            <div class="vt-item">
                                <input type="radio" name="like-team" id="four">
                                <label for="four">Barcelona</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Popular News Section End -->

    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="fa fa-close"></i></div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->
      
</body>
</html>