<div class="profile-container">
  <div class="profile-card">

    <div class="profile-header">
      <h2>Editovanje profila</h2>
      <button id="profile-logout-btn" class="logout-btn">Odjavi se</button>
    </div>
    <form id="profile-form" class="profile-form">
      
      <input type="hidden" id="userId" />

      <label>Korisničko ime</label>
      <input 
        type="text" 
        id="username" 
        name="username"
        required
        minlength="3"
        maxlength="50"
        placeholder="Enter your username"
      />

      <label>Email</label>
      <input 
        type="email" 
        id="email" 
        name="email"
        required
        placeholder="Enter your email"
      />

      <button type="button" id="saveProfileBtn">
        Snimi izmjene
      </button>

    </form>

  </div>
</div>